<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <title>Blue Pokedex</title>
</head>
    
    <header>
        
        <center>
            <img id="logo" src="https://pokedex.sleduardo.dev/img/logo.svg"> 
        </center>   
        <nav>
            <a href="/">INICIO</a>
            <a href="/cadastro/">CADASTRO</a> 
            </nav>
    </header>
    <section id="cadastrocontainer2">
    <section id="cadastrocontainer">

      <section>
        <h1 id="detalhes2">DETALHES DO POKEMON</h1>
      </section> 
      <h1 id="detalhes3"><strong> <%= pokemon.nome %> Nº <%= pokemon.id %>  </h1></strong>
      
      <section id="detalhes1">
        <ul>
          <div>
            <img src="<%= pokemon.imagem %>" width="200"/>
          </div id="detalhesPokemon">
          <div><strong>Descrição:</strong> <%= pokemon.descricao %></div>
          <div><strong>Altura:</strong> <%= pokemon.altura %> M</div>
          <div><strong>Peso:</strong> <%= pokemon.peso %> Kg</div>
          <div><strong>Categoria:</strong> <%= pokemon.categoria %></div>
          <div><strong>Habilidades:</strong> <%= pokemon.habilidade %></div>
        </ul>
      

      <button id="btndetalhes" onclick="history.back()"> Voltar </button>
    </section>
</section>
</section>
      <script src="/js/script.js"></script>
  </body>
</html>

